<footer class="sticky-bottom invisible" id="footer_container" onclick="inviaOrdine()">
    <div class="row" style="background: #f2bf17 !important;">
        <!-- CONFERMA -->
        <div class="text-center col align-self-center" style="font-size: 20px !important;">
            <div>
                CONFERMA:
            </div>
            <div class="text-center p-2 ">
                <div id="prezzo">
                    0.0$
                </div>
            </div>
        </div>
        <!-- PREZZO -->
        
    </div>
</footer>