<footer class="fixed-bottom ">
    <div class="row" style="background: #f2bf17 !important;">
        <!-- CONFERMA -->
        <div class="text-center col align-self-center" style="font-size: 20px !important;">
            <div>
                CONFERMA:
            </div>
            <div class="text-center p-2 ">
                <div>
                    10.50$
                </div>
            </div>
        </div>
        <!-- PREZZO -->
        
    </div>
</footer>