<!--NavBar-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark border-0">
    <div class="row align-items-start">
        <!--Burger Menu-->
        <div class="col mx-auto my-auto d-block">
            <img src="..\..\assets\BurgerMenuFrame1.png" class="img-fluid mx-auto my-auto d-block">
        </div>
        <!--Logo-->
        <div class="col-6">
            <img src="..\..\assets\AppLogo.png" class="img-fluid mx-auto my-auto d-block">
        </div>
        <div class="col mx-auto my-auto d-block">
        </div>
    </div>
</nav>