<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('partials/head'); %> 
        <title>Ordine</title>
    </head>
    <body class="bg-dark pb-3" style="font-family:'Work Sans', sans-serif;">
        <%- include('partials/navbar_cliente'); %>
        <!--Panini-->
        <div class="container-fluid bg-dark" onload="loadOrdine()">
            <div class="row-0" id="pietanze">
                
            </div>
        </div>
        <div class="container-fluid">
            <%- include('partials/footer_ordine'); %> 
        </div>
    </body>
    <script>
        window.onload =loadOrdine;
    </script>
</html>