<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('partials/head'); %> 
        <title>Ordine</title>
    </head>
    <body class="bg-dark pb-3" style="font-family:'Work Sans', sans-serif;">
        <%- include('partials/navbar_cliente_ordine'); %>
        <!--Panini-->
        <div class="row mb-1">
            <div class="col text-center fs-1 text-uppercase text-white" style="color:#f2bf17 !important">
                ordine
            </div>
        </div>
        <div class="container-fluid bg-dark" >
            <div class="row justify-content-center" id="pietanze">
                <!-- Pietanze ordine -->
            </div>
        </div>
        <div class="container-fluid">
            <%- include('partials/footer_ordine'); %> 
        </div>
    </body>
    <script>
        window.onload = loadOrdine;
    </script>
</html>