<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('partials/head'); %> 
        <title>Ordine</title>
    </head>
    <body class="bg-dark" style="font-family:'Work Sans', sans-serif;">
        <%- include('partials/navbar_cliente'); %>
        <!--Panini-->
        <div class="container-fluid bg-dark">
            <div class="row-0">
                
            </div>
        </div>
        <div class="container-fluid">
            <%- include('partials/footer_ordine'); %> 
        </div>
    </body>
</html>